form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}
.google{
    margin: 20px 0px;
    background: white;
    border: 1px solid black; 
    color: black;
}